<div class="wrapper h-100 text-light" data-controller="dashboard">
  <h1 class="text-center p-0">Appointments Calendar</h1>
  <div class="mx-2" data-dashboard-target="calendar">
    <%= month_calendar do |date| %>
      <div data-date=<%= date %> data-action="click->dashboard#showAppointments" class="day-selector">
        <%= date.day %>
      </div>
    <% end %>
  </div>
  <div data-dashboard-target="list">
  </div>
</div>
