*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  color: inherit;
  text-decoration: none;
}

body{
  height: 100vh;
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
}

.bg-gray{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 3rem 3rem;
}

.avatar-img{
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
}

.fs-greet{
  font-size: .7rem;
}

.coupon-img{
  height: 8rem;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), asset-url("couponBg.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.back-card{
  height: 8rem;
  background-color: gray;
  transform: rotate(3deg);
}

.appointment-card{
  min-height: 12em;
  background-color: rgba(0, 0, 0, 0.4);
}

.appointment-cancel{
  width: 2rem;
  height: 2rem;
  top: -10px;
  right: -8px;
}

.appointment-btn{
  position: sticky;
  bottom: 1rem;
  width: calc(100% - 16px);
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.avatar-w{
  width: 50% !important;
}
