.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  background-color: #626262;
  color: #FFF;
  border: 1px solid #e5e5e5;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #FFC107;
  color: #232323;
}

.professional-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
