.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.5rem 1rem;
  background-color: #626262;
  color: #FFF;
  border: 1px solid #e5e5e5;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #FFC107;
  color: #232323;
}

.professional-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.professional-selector {
  position: absolute;
  transform: scale(0);
}

.professional-selector + label {
  cursor: pointer;
}

.professional-selector + label img {
  transition: all 0.2s ease-in-out;
}

.professional-selector:disabled + label img {
  opacity: 0.2;
}

.professional-selector:checked + label img {
  border: 2px solid #FFC107;
  box-shadow: 0 0 15px 5px rgba(255, 193, 7, 0.6);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

.selected {
  border: 2px solid #FFC107 !important;
}

.simple-calendar {
  .day {
    cursor: pointer;
    transition: 0.2s;
  }

  .day.disabled {
    color: #bbb;
    background-color: #f8f8f8;
    pointer-events: none;
  }

}
