// Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";
// External libraries
@import "bootstrap";
@import "font-awesome";
// CSS Partials
@import "appointments/index";
@import "appointments/new";
@import "appointments/calendar";
@import "simple_calendar";
@import "devise/new";
@import "appointments/owner";
